body {
    --theme-primary-color: white;
    --theme-secondary-color: black;
    --theme-accent-color: rgb(9, 120, 194);
    background-color: var(--theme-primary-color);
    color: var(--theme-secondary-color);
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
}

img {
    max-width: 15rem;
}

div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interverse {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-size: 1.5rem;
}

#interverse-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#interverse-details * {
    margin: 0.25rem;
}

#interverse-contact {
    word-wrap: break-word;
}

#interverse-details img {
    max-width: 15rem;
    max-height: 15rem;
}

#interverse-resources {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.interverse-resource {
    padding: 2rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interverse-resource-icon {
    height: 3rem;
    width: 3rem;
}

#interverse-groups {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.interverse-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

h1 {
    text-align: center;
}

#interverse-connections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

#interverse-groups,
#interverse-connections {
    margin-left: 10vw;
    margin-right: 10vw;
}

.interverse-connection {
    width: fit-content;
    padding: 1rem;
    margin: 0.25rem;
}

.interverse-connection-preview {
    display: flex;
    flex-direction: column;
}

.interverse-widget {
    width: 50vw;
    height: 60vh;
}